# python ignored files
*.pyc
venv
.direnv
pip-selfcheck.json

# migration tool files
migrationtool/result-file.xlsx
migrationtool/result-file.xml
migrationtool/**/describe.log
migrationtool/**/credentials/*/*.properties
migrationtool/backup/
migrationtool/list/
migrationtool/post/
migrationtool/retrieve/
migrationtool/retrieveAnd/
migrationtool/src/
migrationtool/temp/
migrationtool/test/
migrationtool/.DS_Store
migrationtool/configuration/credentials/.DS_Store
migrationtool/configuration/.DS_Store
# gitlab notifications
*-comment.txt

# post2sf
post_id
srcToTest

# misc
querylogs/log
srcToDeploy/
.DS_Store

# post2sf
artifacts_folder
*-build.xml
describe.log
migrationtool/postPROD
